@import url("https://fonts.googleapis.com/css?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sriracha&display=swap");

.divkiri {
  float: left;
  width: 25%;
  height: 100px;
}

.colclass {
  margin-left: -5px;
}

.divkanan {
  float: right;
  background-color: pink;
  height: 750px;
  width: 75%;
  background-image: url("./img/bgtest.jpg");
  position: relative;
}

.edit {
  position: absolute;
  top: 0;
  bottom: 0;
}

.arraymap {
  position: relative;
  overflow: hidden;
  height: 180px;
  width: 115px;
  margin-top: 10px;
}

.matchgaris {
  width: 20%;
  background-color: #2c5364;
  height: 3px;
  margin-right: 300px;
  margin-top: -5px;
}

.arraymap p {
  margin-top: 150px;
  position: absolute;
  font-weight: bold;
  color: azure;
  margin-left: 20px;
  box-shadow: black;
}

img.profilebulat {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  align-items: left;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: -10px;
  border: 10px;
}

.navkiri {
  widows: 380px;
  height: 110px;
  background: -webkit-linear-gradient(
    to right,
    #2ebf91,
    #8360c3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2ebf91,
    #8360c3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

p.profile {
  float: right;
  text-align: center;
  margin-top: 30px;
  margin-left: 0px;
  font-size: 40px;
  margin-right: 110px;
  color: azure;
  font-family: "Fira Sans", sans-serif;
}

p.wowini {
  font-size: 27px;
  margin-left: 10px;
}

img.matchphoto.rounded {
  margin-top: 30px;
  height: 110px;
  margin-right: -10px;
}

.rowkiri {
  margin-left: 15px;
}

.aturgede {
  height: 100px;
}

.invisiblebtn {
  font-size: 18px;
}

.profileedit {
  float: right;
  text-align: center;
  margin-top: 40px;
  margin-left: 0px;
  font-size: 25px;
  margin-right: 140px;
  color: azure;
  font-family: "Fira Sans", sans-serif;
}

#premium3 {
  font-weight: bold;
  color: azure;
  margin-left: 150px;
}

.textsetting {
  font-weight: bold;
  text-align: center;
  justify-content: center;
  margin-left: 130px;

  font-family: "Fira Sans", sans-serif;
  margin-top: 40px;
  background-color: black;
}

.nomor {
  position: relative;
  left: 35px;
  width: 300px;
  height: 40px;
  margin-top: 25px;
  font-family: "Fira Sans", sans-serif;

  background: white;
  border-radius: 10px;
}

.email1 {
  position: relative;
  left: 35px;
  width: 300px;
  height: 40px;

  background: white;
  border-radius: 10px;
}

.textsetting1 {
  font-weight: bold;
  text-align: center;
  justify-content: center;
  font-family: "Fira Sans", sans-serif;
  color: black;
  margin-left: 120px;
  top: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.form-control-range {
  width: 300px;
  justify-content: center;
  margin-left: 40px;
}

.tebelaja {
  font-family: "Fira Sans", sans-serif;
  margin-top: 0px;
  font-weight: bold;

  margin-left: 15px;
}

.formpet {
  position: relative;
  left: 35px;
  width: 300px;
  height: 40px;

  background: white;
  border-radius: 10px;
}

.buttonedit {
  position: absolute;
  left: 160px;
  margin-right: auto;
  background: #ed213a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #93291e,
    #ed213a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #93291e,
    #ed213a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#margin1 {
  margin-top: 15px;
  margin-bottom: 30px;
}

.asuu {
  margin-top: 10px;
  background-color: #ededed;

  font-family: "Fira Sans", sans-serif;
  background-color: white;
  text-align: center;
  font-weight: bold;
  background: #ededed;
  height: 40px;
  top: 3px;
  justify-content: center;
  padding-top: 5px;
}

#divcard {
  width: 780px;
  height: 600px;
  overflow: hidden;
}

#idcard {
  justify-content: center;
  margin-left: 400px;
  margin-top: 30px;
  height: 800px;
  overflow: auto;
}

#cardedit {
  margin-left: 410px;
  height: 800px;
  overflow: scroll;
}
.divedit {
  margin-top: 10px;
  margin-left: 10px;
}

.divedit2 {
}

.aturukuran {
  height: 110px;
  border-radius: 8%;
  margin-top: 20px;
  margin-left: 5px;
  width: 92px;
}

.aturukuran1 {
  height: 110px;
  border-radius: 8%;
  margin-top: 20px;
  width: 92px;
  margin-left: -10px;
}
.closeimg {
  height: 32px;
  position: absolute;
  margin-top: 105px;
  margin-left: 80px;
}

.plusimg {
  height: 23px;
  position: absolute;
  margin-top: 110px;
  margin-left: 70px;
}
.plusimg1 {
  height: 23px;
  position: absolute;
  margin-top: 110px;
  margin-left: 55px;
}

.formnama {
  width: 369px;
}

.formnama1 {
  width: 369px;
  margin-bottom: 200px;
}

.labelstyle {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  margin-left: 10px;
}

.labelstyle1 {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  margin-top: 0px;
  margin-left: 10px;
}

.plusimg2 {
  height: 23px;
  position: absolute;
  margin-top: 110px;
  margin-left: 85px;
}

.aturukuran2 {
  height: 110px;
  border-radius: 8%;
  margin-top: 20px;
  width: 92px;
  margin-left: -25px;
}
.geser {
  margin-bottom: 1000px;
  float: right;
  justify-content: right;
  font-size: 30px;
}

.kananin {
  float: right;
  margin-right: 40px;
}
#imgcard {
  width: 65%;
  height: 50%;
}
#addpet {
  margin-top: 20px;
  margin-left: 1000px;
  background: -webkit-linear-gradient(
    to right,
    #2ebf91,
    #8360c3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2ebf91,
    #8360c3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.tebeltitle {
  font-size: 20px;
  font-weight: bold;
}
#ukuranicon {
  width: 20px;
  height: px;
}

.profileedit2 {
  float: right;
  text-align: center;
  margin-top: 40px;
  margin-left: 0px;
  font-size: 25px;
  margin-right: 90px;
  color: azure;
  font-family: "Fira Sans", sans-serif;
}

.inispan {
  margin-left: 10px;
  margin-top: 10px;
}

.jarak {
  margin-top: 10px;
}
.kananaja {
  margin-left: 20px;
  margin-right: 100px;
  left: 700px;
}

.warnabtn {
  margin-top: 25px;
  margin-left: 520px;
  background: linear-gradient(to right, #2ebf91, #8360c3);
  background: -webkit-linear-gradient(
    to right,
    #2ebf91,
    #8360c3
  ); /* Chrome 10-25, Safari 5.1-6 */
}

#ukuranpanah {
  width: 15px;
  height: 25px;
  margin-left: 5px;
}
.gambartinder {
  margin-top: 110px;
  margin-left: 420px;
}

.btnedit1 {
  position: absolute;
  /* margin-left: 160px;
  margin-top: 240px; */
  right: 530px;
  bottom: 120px;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 1px 1px 5px darkslategray;
}

.btnedit {
  position: absolute;
  /* margin-left: 160px;
  margin-top: 240px; */
  right: -1000px;
  bottom: 120px;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 1px 1px 5px darkslategray;
}

.btntinder {
  margin-top: 600px;
}

.settingakun {
  font-family: "Fira Sans", sans-serif;
  background-color: white;
  text-align: center;
  font-weight: bold;
  background: #ededed;
  height: 40px;
  top: 3px;
  justify-content: center;
  padding-top: 5px;
}
